*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
  }
.banner{
    width: 100%;
    height: 100vh;
    background-image: url(images/whitelines.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.navigationbar{
    width: 85%;
    margin: auto; 
    padding: 1% 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
.logo{
    width: 8%;
    cursor: pointer;
    margin-left: 0%;
}
.navigationbar ul li{
    float: right;
    list-style: none;
    text-align: center;
    border: 3px solid #cdcdcd;
}

.navigationbar ul li a{
    text-decoration: none;
    color: #fe5000;
    text-transform: uppercase;
}


.navigationbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #000000;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navigationbar ul li:hover::after{
    width: 100%;
}

body{
    padding: 10px;
    background-image: url(images/whitelines.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.imageContainer {
    content: "";
    clear: both;
    display: table;
    margin-left: 7%;
    margin-right: 7%;
}

.addImage img{
    float: left;
    width: 25%;
    padding: 5px;
    opacity: 0.5;
}
  
.addImage img:hover {
    opacity: 0.7;
  }

.toggleButtons {
    color: #000000;
    background-color: #ffffff;
    border-width: 5%;
    border-radius: 10%;
    padding: 1px;
    width: 3vw;
    height: 3vh;
}

#html {
    color: #fe5000;
    background-color: #000000;
}

.togglebuttons:hover{
    color: #ffffff;
    background-color: #fe5000;
}

.toggleButtons:active{
    color: #ffffff;
    background-color: #ff0000;
    box-shadow: 1px 1px #000000;
    transform: translateY(2px);
}

.ActiveClass:active {color: #ffffff !important; background-color: #fe5000 !important; box-shadow: 1px 1px #000000 !important; transform: translateY(2px) !important;}
.HoverClass:hover {color: #ffffff !important; background-color: #fe5000 !important;}

#editorContainer {
    width: 25vw;
    position: fixed;
    z-index: 2;
}

#overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}

#execute-code {
    background-color: #8b2c00;
    color: #ffffff;
    border-radius: 10px;
    width: 4vw;
    height: 2vh;
}

#toggleEditorButton {
    background-color: #fe5000;
    color: #ffffff;
    border-radius: 10px;
    position: fixed;
    top: 1%;
    left: 1%;
    width: 4%;
    height: 4%;
}