.container{
  background: rgb(255, 255, 255);
  color: #fff;
  background-size: cover;
  background-position: center;
  border: rgb(0, 0, 0);
  border-width: 2px;
  border-style: solid;
  max-width: 450px;
  height: 97vh;
  margin: auto;
  position: relative;
}
.upload-icon{
  position: absolute;
  width: 60px;
  bottom: 100px;
  left: 28%;
  top: 5%;
  transform: translateX(-50%);
  cursor: pointer;
}